@font-face {
    font-family: 'Achafont';
    src:
        url('../fonts/Achafont.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Achafita';
    src:
        url('../fonts/Achafita.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Achafout';
    src:
        url('../fonts/Achafout.ttf') format('opentype');
    font-weight: normal;
    font-style: bold;
}


@font-face {
    font-family: 'Achafexp';
    src:
        url('../fonts/Achafexp.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}





