* {
    font-family: 'Crimson Text', serif;
}


/* sticky nav info*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  letter-spacing: 1px;
}
header, nav{
  width: 100%;
  text-align: center;
  color: #fff;
    
}
header{
  padding: 0px 0;
  font-size: 150px;
  font-weight: 400;
  letter-spacing: 4px;
  background: #191b13;
/*    background: #30252E;*/
    
    font-family: 'Achafont', serif;
    color:#D6503E;
}
header a{
    font-family: 'Achafont', serif;
    color:#D6503E;
    text-decoration: none;
    /*    transitions*/
    -webkit-transition: all 1s;  				
-moz-transition: all 1s;  				
-o-transition: all 1s;  				
-transition: all 1s;
}
header a:hover{
    color: #3d5747;
    
}

nav{
  z-index: 1;
  margin-bottom: -72px; /* nav height */
  padding: 25px 0;
  word-spacing: 26px;
  background: #D6503E;
    margin: 0 auto;
    
  
  transition: box-shadow 400ms;
}
.navCenter{
    width: 1180px;
    margin: 0 auto;
}

.navWrapper{
    height: 100px;
}
nav ul {
    display: table;
    margin: 0 auto;
}

nav ul li{
    float: left;
    list-style: none;
    padding: 0 10px;
    
}

/*normal state for the list*/
nav ul li a {
    color: #fff;
    font-family: 'Achafexp', serif;
    font-size: 40px; 
    font-style: normal;
    text-decoration: none;
/*    transitions*/
    -webkit-transition: all 1s;  				
-moz-transition: all 1s;  				
-o-transition: all 1s;  				
-transition: all 1s;
    
    
}
/*hover state for the list*/
nav ul li a:hover {
    color: #30252E;
    
}

article{
  width: 600px;
  margin: 82px auto; /* nav height + 10 */
  padding: 0;
  text-align: justify;
}
.sticky{
  position: fixed;
  top: 0; left: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}



/*end sticky nav info*/ 



h1{
    font-family: 'Vollkorn SC', serif;
    text-transform: uppercase;
    text-align: left;
}


h2{
    font-family: 'Vollkorn SC', serif;
    text-align: left;
   
}

h2{
    font-family: 'Vollkorn SC', serif;
    text-align: left;
    font-size: 14px;
   
}

a{
    color: #3d5747;
}

.draculaCover {
    width: 275px;
    float: right;
    padding-left: 40px;
}



/*sample page start letter larger and colour change*/
.bigStart::first-letter{
    font-size: 250%;
    font-family: 'Achafexp', serif;
    color: #D6503E;
    font-weight: 700;
    line-height: 0;

    
    
}

/*about page authorstyle class*/
.author{
    text-align: center;
}


/*contact page style stuff*/
 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: 15px;    
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #D6503E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*    transitions*/
    -webkit-transition: all .5s;  				
-moz-transition: all .5s;  				
-o-transition: all .5s;  				
-transition: all .5s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #3d5747;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #35271e;
    padding: 20px;
    color: #fff;
} 


/*style blockquote*/
blockquote{
    font-style: italic;
   font-size: 18px;
}


.cite{
    font-size: 40px;
    text-align: right;
    font-family: 'Achafexp', serif;
    
}